@keyframes slow-zoom {
  from { transform: scale(1); }
  to { transform: scale(1.3); }
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.Splash {
  width: 100%;
  height: 100%;
}

.Splash:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../images/ring.JPG) no-repeat center center fixed;
  background-size: cover;
  animation: slow-zoom 60s;
}

.SplashFooter {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  /*forwards keeps the final state of the animation*/
  animation: fade 5s ease-in-out 1s forwards;
}

.SplashHeader {
  font-size: 20px;
  color: white;
  margin-top: 12px;
  text-align: center;
}
