@font-face {
  font-family: 'FreightBook';
  src: url(styles/fonts/freight-big-book.otf);
}

@font-face {
  font-family: 'AvenirNextRegular';
  src: url(styles/fonts/avenir-next-regular.ttf);
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url(styles/fonts/avenir-next-bold.ttf);
}

.App {
  width: 90%;
  margin: 0 auto;
}